.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #06081b31;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}